* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2018/04/04/02/13/abstract-3288642_960_720.jpg);
}

/* Styling position rules */

.container-flex {
    display: flex;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    display: table;
    content: "";
    clear: both;
}

.inline-block {
    display: inline-block;
}

/* Styling @media display rules */

@media screen and (max-width: 480px) {

    .not-mobile {
        display: none;
    }

}

@media screen and (max-width: 768px) {

    .not-tablet {
        display: none;
    }

}

[class|="on-tablet"] {
    display: none;
}

@media screen and (max-width: 768px) {

    .on-tablet-block {
        display: block;
    }

    .on-tablet-inline-block {
        display: inline-block;
    }

}

/* Styling general styling block rules */

.overlay {
    background-color: rgba(0,0,0,0.75);
}

.overlay-hover:hover {
    background-color: rgba(0,0,0,0.75);
}

.overlay-darker {
    background-color: rgba(0,0,0,0.85);
}

.list-unstyled {
    list-style: none;
}

/* Styling general text styling rules */

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-bolder {
    font-weight: bolder;
}

.no-underline {
    text-decoration: none;
}

.text-silver {
    color: silver;
}

.text-hover-silver:hover {
    color: silver;
}

.text-white {
    color: white;
}

.text-hover-white:hover {
    color: white;
}

.hover-left-green:hover {
    border-left: 5px solid olive;
}

.hover-bottom-green:hover {
    border-bottom: 2px solid olive;
}

/* Styling nav */

nav {
    width: 15vw;
    height: calc(100% - 70px);
    position: fixed;
    left: 0;
    font-size: 80%;
    padding: 10px 20px;
    flex-direction: column;
    justify-content: space-between;
}

nav i:not(.fa-spotify) {
    display: inline-block;
    margin-right: 10px;
}

nav li {
    padding: 5px 0;
}

nav ul#nav-top i.fa-spotify {
    font-size: 24px;
    margin-bottom: 20px;
}

nav ul#nav-top li:nth-child(5) {
    margin-top: 20px;
}

nav ul#nav-bottom li:last-child {
    border-top: 1px solid silver;
    padding-top: 10px;
}

/* Styling main */

main {
    width: 85vw;
    padding: 0 10%;
    margin-bottom: 85px;
}

main #main-bar .container-flex {
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    font-size: 70%;
}

main .play-hover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    line-height: 150px;
    position: absolute;
    visibility: hidden;
    font-size: 40px;
}

main figure>div:hover .play-hover {
    visibility: visible;
}

main h1 {
    padding: 20px 0;
}

main .artist {
    flex-wrap: wrap;
    justify-content: space-around;
}

main figure {
    text-align: center;
    margin-top: 20px;
}

main figure img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Styling footer bars: courtesy of w3schools.com */

.slider {
  -webkit-appearance: none;
  width: 400px;
  height: 2px;
  background: silver;
  outline: none;
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

/* Styling footer */

footer {
    width: 100vw;
    height: 70px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    background-color: rgba(102, 96, 71, 0.95);
    justify-content: space-between;
    align-items: center;
}

footer ul.list-unstyled li {
    display: inline-block;
    margin: 0 15px;
}

footer #footer-playing img {
    width: 50px;
    margin-right: 10px;
}

footer #footer-playing p:last-child {
    line-height: 50px;
    margin-left: 10px;
}

footer #footer-play-bar {
    text-align: center;
}

footer #footer-play-bar li span.text-silver {
    font-size: 50%;
}

footer #footer-volume-bar {
    line-height: 50px;
}

footer #footer-volume-bar li:last-child {
    margin: 0;
}

footer #footer-volume-bar input {
    width: 80px;
    transform: translateY(-5px);
}

/* All non-class media query here! */
/* Desktop media query */

@media screen and (max-width: 1024px) {

    nav {
        font-size: 70%;
        padding: 10px;
    }

    footer #footer-play-bar input {
        width: 300px;
    }

}

/* Tablet media query */

@media screen and (max-width: 860px) {

    footer #footer-play-bar input {
        width: 250px;
    }

    footer ul.list-unstyled li {
        display: inline-block;
        margin: 0 10px;
    }

}

@media screen and (max-width: 768px) {

    nav {
        width: 30vw;
        font-size: 80%;
        padding: 10px 20px;
    }

    main {
        width: 70vw;
        padding: 20px 10px;
    }

    main #main-bar {
        padding: 0 10px;
        font-size: 150%;
    }

    footer #footer-playing p {
        font-size: 70%;
    }

    footer #footer-play-bar input {
        width: 200px;
    }

    footer #footer-volume-bar input {
        width: 60px;
    }

    footer ul.list-unstyled li {
        display: inline-block;
        margin: 0 5px;
    }

}

@media screen and (max-width: 600px) {

    footer #footer-play-bar input {
        width: 150px;
    }

    footer ul.list-unstyled li {
        display: inline-block;
        margin: 0 4px;
    }

}

/* Mobile media query */

@media screen and (max-width: 480px) {

    nav {
        width: 15vw;
        padding: 10px 0;
        text-align: center;
    }

    nav ul#nav-bottom {
        width: 100%;
    }

    nav ul#nav-bottom li:last-child {
        border: none;
    }

    main {
        width: 85vw;
    }

    main figure img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }

    main figure p {
        font-size: 75%;
    }

    footer {
        padding: 5px;
        background-color: rgba(102, 96, 71, 0.95);
        justify-content: space-around;
    }

    footer #footer-playing p {
        font-size: 60%;
    }

    footer #footer-play-bar input {
        width: 150px;
    }

}
